<head>
    <title>Search Stocks</title>
</head>

<h1>Search for your stock, m80</h1>
<form action="/stocks/search">
    <label>
    Stock:
    <input type="text" placeholder="ie. GOOG" name="code">
    </label>
    <button type="submit">Get stock</button>
</form>