<head>
    <title>Search Books</title>
</head>

<h1>Search Books</h1>

<h2>Find your book</h2>
<form action="/books/search">
    <label for="title">Book Title</label>
    <input type="text" placeholder="Book Title" name="title">
    <button type="submit">Get Book</button>
</form>